@import '../../../assets/scss/variable';

/*----------------------------------------*/
/*  12. Footer Widget Area
/*----------------------------------------*/
.footer-widget-area {
    background: $secondary none repeat scroll 0 0;
    color: #ffffff;
    padding: 80px 0 65px;
}
.footer-logo > a {display: inline-block;}
.footer-logo {margin-bottom: 24px;}
.social-icons a {
    background: #ffffff none repeat scroll 0 0;
    color: $secondary;
    display: inline-block;
    font-size: 20px;
    height: 31px;
    line-height: 30px;
    margin-right: 11px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
    width: 31px;
}
.social-icons > a:last-child {margin-right: 0;}
.social-icons > a:hover {background-color: $primary;color: #ffffff;}
.social-icons {margin-top: 27px;}
.single-footer-widget > h3 {
    font-family: raleway;
    font-weight: 800;
    font-size: 24px;
    line-height: 19px;
    margin-bottom: 37px;
    padding-top: 12px;
    text-transform: uppercase;
}
.single-footer-widget > span {display: block; margin-bottom: 11px;}
.single-footer-widget > span i {font-size: 18px; width: 30px;}
.footer-list a {color: #ffffff; line-height: 25px;}
.instagram-image {padding-top: 5px;}
.footer-img {
    display: inline-block;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
}
.instagram-image .footer-img:nth-child(3), .instagram-image .footer-img:nth-child(6) {margin-right: 0;}
.footer-img a {display: inline-block; position: relative}
.footer-img a:before {
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.footer-img:hover a:before {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100)}
.footer-img a:after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 0;
    color: #ffffff;
    content: "+";
    font-family: "montserratregular";
    font-size: 40px;
    height: 18px;
    left: 0;
    margin: -9px auto 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 18px;
}
.footer-img:hover a:after {opacity: 1;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100)}

/*----------------------------------------*/
/* 12. Footer Widget Area 
/*----------------------------------------*/

.footer-widget-area {
    background: $secondary none repeat scroll 0 0;
    color: #ffffff;
    padding: 80px 0 65px;
}
.footer-logo > a {
   display: inline-block;
}
.footer-logo {
   margin-bottom: 24px;
}
.social-icons a {
    background: #ffffff none repeat scroll 0 0;
    color: $secondary;
    display: inline-block;
    font-size: 20px;
    height: 31px;
    line-height: 30px;
    margin-right: 11px;
    text-align: center;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 31px;
}
.social-icons > a:last-child {
   margin-right: 0;
}
.social-icons > a:hover {
   color: #ffffff;
}
.social-icons {
   margin-top: 27px;
}
.single-footer-widget > h3 {
    font-family: "Raleway";
    font-weight: 800;
    font-size: 24px;
    line-height: 19px;
    margin-bottom: 37px;
    padding-top: 12px;
    text-transform: uppercase;
}
.single-footer-widget > span {
   display: block;
    margin-bottom: 11px;
}
.single-footer-widget > span i {
   font-size: 18px;
    width: 30px;
}
.footer-list a {
   color: #ffffff;
    line-height: 25px;
}
.instagram-image {
   padding-top: 5px;
}
.footer-img {
    display: inline-block;
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
}
.instagram-image .footer-img:nth-child(3), .instagram-image .footer-img:nth-child(6) {
   margin-right: 0;
}
.footer-img a {
   display: inline-block;
    position: relative
}
.footer-img a:before {
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
}
.footer-img:hover a:before {
   opacity: 1;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100)
}
.footer-img a:after {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    bottom: 0;
    color: #ffffff;
    content: "+";
    font-family: "montserratregular";
    font-size: 40px;
    height: 18px;
    left: 0;
    margin: -9px auto 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 18px;
}
.footer-img:hover a:after {
   opacity: 1;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100)
}

/*----------------------------------------*/
/* 13. Footer Area 
/*----------------------------------------*/

.footer-area {
    color: #ffffff;
    font-size: 12px;
    padding: 18px 0;
    background: $primary;
}
.column-right {
   float: right
}
.footer-area span a {
   color: #ffffff;
}
.footer-area span a:hover {
   border-bottom: 1px solid #ffffff;
}
.single-footer-widget > a {
   color: #ffffff;
    display: block;
    margin-bottom: 11px;
}
.single-footer-widget > a:hover i {
   color: #fff
}
.single-footer-widget > a i {
   font-size: 18px;
    width: 30px;
}

/*----------------------------------------*/
/* 14. Footer Responsive 
/*----------------------------------------*/

/* Large desktop :1920px. */
@media (min-width: 1920px) {

}

/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1169px) {
    .footer-img {height: 59px; width: 59px;}
    .footer-img a::after {margin: -13px auto 0;}
    .social-icons a {margin-right: 8px;}
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .instagram-image .footer-img:nth-child(3), .instagram-image .footer-img:nth-child(6) {
        margin-right: 15px;
    }
    .footer-img {height: 62px; width: 62px;}
    .footer-img a::after {margin: -13px auto 0;}
}

/* small mobile :320px. */
@media (max-width: 767px) {

}

/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .footer-img {height: 59px; width: 59px;}
    .footer-img a::after {margin: -13px auto 0;}
}
