 <div class="footer-widget-area">
    <div class="container">
       <div class="row">
          <div class="col-lg-3 col-md-6">
             <div class="single-footer-widget">
                <div class="footer-logo">
                   <a href="index.html"><img src="assets/img/logo/footer.png" alt=""></a>
                </div>
                <p>Pokémon Challenge for Developers was proposed in a selection process by a multinational company. The challenge proposal is very good and tests several aspects of the software engineer.</p>
                <div class="social-icons">
                   <a href="#"><i class="fa-brands fa-facebook"></i></a>
                   <a href="#"><i class="fa-brands fa-youtube"></i></a>
                   <a href="#"><i class="fa-brands fa-instagram"></i></a>
                </div>
             </div>
          </div>
          <div class="col-lg-3 col-md-6">
             <div class="single-footer-widget">
                <h3>GET IN TOUCH</h3>
                <a href="tel:5561986030856"><i class="fa fa-phone"></i>+55 (61) 98603-0856</a>
                <span><i class="fa fa-envelope"></i>wescleysrn@gmail.com</span>
                <span><i class="fa fa-globe"></i>www.iamandutecnologia.com.br</span>
                <span><i class="fa fa-map-marker"></i>Brasília - Brazil.</span>
             </div>
          </div>
          <div class="col-lg-3 col-md-6">
             <div class="single-footer-widget">
                <h3>About Wescley</h3>
                <span><p>Senior Software Engineer with 12 years of experience, specializing in backend development using Java, and front end 
                  with Angular and Ionic. Experienced with all stages of the software development life cycle (SDLC),software development, RESTful web services, OAuth2, agile methodologies
                  and the main web development frameworks such as Spring Boot, Hibernate, JPA. Strong interpersonal and communication skills, self-motivated with a positive attitude.</p></span>
             </div>
          </div>
          <div class="col-lg-3 col-md-6">
             <div class="single-footer-widget">
                <h3>Stackoverflow</h3>
                <div class="instagram-image">
                  <a href="https://stackoverflow.com/users/16768075/wescley" target="_blank"><img src="https://i.stack.imgur.com/o1VhY.jpg?s=256&g=1" alt=""></a>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 <footer class="footer-area">
    <div class="container">
       <div class="row">
          <div class="col-lg-6 col-md-7 col-12">
             <span>©2022 Pokémon Challenge developed by <a href="https://www.linkedin.com/in/wescley-sousa/?locale=en_US" target="_blank">Wescley de Macêdo Sousa</a></span>
          </div>
          <div class="col-lg-6 col-md-5 col-12">
             <div class="column-right">
                <span>"What we do in life echoes through eternity"</span>
             </div>
          </div>
       </div>
    </div>
 </footer>
 